<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='All projects')"/>
</head>
<body>

<div class="container container-fluid">
<form method="get" action="/projects/all">
    <p><label><b>Filter</b></label></p>

    Name: <input type="text" name="name" size="50" th:value="${name}"/>
    Start from: <input type="date" name="startDateFrom" th:value="${startDateFrom}">
    to:<input type="date" name="startDateTo" th:value="${startDateTo}">
    <button type="submit" class="btn btn-primary"> Filter </button>
    <button type="button" class="btn btn-dark" onclick="clearSearch()"/>
</form>

<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Started</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
    <tr th:each="project : ${projectList}">
        <td th:text="${project.id}">Project ID</td>
        <td th:text="${project.name}">Name</td>
        <td th:text="${project.startDate}">started</td>
        <td th:text="${project.comletionDate}">completed</td>
        <td>
            <a th:href="@{'/projects/edit/' + ${project.id}}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/projects/delete/' + ${project.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/projects/all}]]";
    }
</script>
</body>
</html>